body{
    padding: 0;
    margin: 0;
}
/*Comienzo del header*/
header{
    width: auto;
    height: 80px;
    margin: 1%;
    
}
.tope1{
    width: 20%;
}
.tope1 img{
    max-block-size: -webkit-fill-available;
    max-inline-size: -webkit-fill-available;
}
.tope2{
    width: 50%;
}
.tope3{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.tope3 a{
    text-decoration: none;
    color: rgb(17, 17, 97);
    
}
.tope3 a:hover{
    color: aliceblue;
}
/*Fin del header*/

/*comienzo de la barra de navegacion en categorias de productos*/

.barragen{
    width: auto;
    height: 35px;
    background: blu;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 5px;
    border: 3px solid black;
    margin-left:1%;
    margin-right: 1%; 
}
.barragen a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    border-right: 3px solid black;

    
}
.barraitem{
    width: 14.3%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    
}

/*fin de la barra de navegacion en categorias de productos*/

/*comienzo del section*/

section{
    width: auto;
    height: 340px;
    background: ;
    margin-top: 40px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}
.sectionleft{
    width: 20%;
    height: 100%;;
    background: black;
    padding: 10px;
}
.sectionleft p{
    margin: 0;
}
.sectionright{
    width: 78%;
    height: 100%;
    padding: 0;
}
.tope{
    width: 100%;
    height: 75%;
}
.piso{
    width: 100%;
    height: 25%;
    background: rgb(24, 20, 20);
    display: flex;
    padding: 0;
    
}  
.boton{
    height: 100%;
    border: 6px solid white;
}
.boton p{
    color: rgb(214, 214, 214);
}

/*inicio del contenido general*/
.content-gen{
    width: auto;
    height: 1300px;
    margin-top: 20px;
    display: flex;
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
}
.content-gen-left{
    width: 81%;
    height: 100%;
}
.content-gen-left-products{
    height: 33.33%;
}
.content-gen-right{
    width: 19%;
    height: 100%;
}
.content-gen-right-1{
    width: 100%;
    height: 61%;
    padding-left: 15px;
}
.right1{
    width: auto;
    height: 100%;
    padding: 8px;
    background: rgb(241, 241, 241);
}
.rightcont{
    width: auto;
    height: 10%;
    margin-bottom: 10px;
    display: flex;
}
.right-img{
    width: 40%;
    height: auto;
}
.right-img img{
    max-block-size: -webkit-fill-available;
    max-inline-size: -webkit-fill-available;
}
.right-txt{
    width: 60%;
    padding-left: 10px;
}
.right-txt a{
    color: rgb(99, 37, 37);
}
.content-gen-right-2{
    width: 100%;
    height: 35%;
    padding-left: 15px;
    padding-top: 5%;
}
.box1{
    width: auto;
    height: 65%;
    padding: 8px;
    background: rgb(241, 241, 241);
    margin-bottom: 12px;
}
.box1cont{
    width: auto;
    height: 100%;
    border-radius: 5px;
}
.box1cont-img{
    width: auto;
    height: 50%;
    background-image: url("../img/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.box1cont-txt{
    height: 35%;
}
.box1cont-but{
    height: 15%;
    border-radius: none !important;
}
.box2{
    height: 35%;
    padding: 8px;
    background: rgb(241, 241, 241);
}
.box2cont{
    height: 100%;
}
.creo{
    height: 33%;
}
.crein{
    height: 39%;
}
.crein input{
    height: 50% !important;
}
.crein1{
    height: 28%;
}
.crein1 button{
}
.card{
    background: rgb(241, 241, 241);
    width: 100%;
    height: 300px;
    padding: 7px;
}
.card-img{
    height: 85%;
}
.card-txt{
    height: 8%;
}
.card-txt a{
    text-decoration: none;
    color: rgb(99, 37, 37);

}
/*fin del contenido general*/




/*fin del section*/

/*comienzo del footer*/

footer{
    width: auto;
    height: 300px;
    margin-top: 3%;
    background: rgb(207, 207, 207);
    
}
.footop{
    height: 92%;
    display: flex;
}
.cem{
    padding-top: 40px;
    padding-left: 10px;
    width: 25%;
}
.cemtop{
    height: 15%;
}
.cempiso{
    height: 85%;
    
}
.cempiso i{
    margin-left: 15px;
    font-size: 40px;
}
.cempiso a{
    text-decoration: none;
}
.footpiso{
    height: 8%;
    text-align: center;
    background: rgb(165, 165, 165);
}

/*fin del footer*/